extends ../layout/default-layout
include ../mixins/content_item.pug
include ../mixins/carousel_item.pug
include ../mixins/carousel_indicator.pug

block vars
  - pageTitle = "My Website - Home "

block content

  .container 
    section#slider.mt-3 
      .slider-container.d-flex.mt-3.row
        .carousel.slide.col-lg-8.p-0(data-bs-ride="carousel")
          .carousel-inner
            +carouselItem("../images/slider.jpg", "Slider image 1",true)
            +carouselItem("../images/slider.jpg", "Slider image 2")
            +carouselItem("../images/slider.jpg", "Slider image 3")
           
          .carousel-indicators.d-flex.justify-content-center.mt-3.carousel__btn
            each index in [0, 1, 2]
              +carouselIndicator(index, index === 0)
     
        

        .slider__content.border.col-lg-4
          - const contentItems = [  { icon: 'bi bi-airplane-fill', title: 'Miễn phí vận chuyển', description: 'Chúng tôi vận chuyển miễn phí cho đơn hàng trị giá trên 1.000.000 VND' },  { icon: 'bi bi-arrow-repeat', title: 'Chính sách đổi trả', description: 'Nếu phát hiện lỗi của nhà sản xuất, chúng tôi sẽ đổi sản phẩm mới trong vòng 7 ngày đầu tiên' },  { icon: 'bi bi-gift-fill', title: 'Khuyến mại hàng tuần', description: 'Mỗi thứ 7 hàng tuần đều có chương trình giảm giá và khuyến mại lớn' },  { icon: 'bi bi-star-fill', title: 'Cam kết hàng chính hãng', description: 'Chúng tôi cam kết hàng chính hãng 100% đối với các loại sản phẩm' }]
            each item in contentItems
              +content_item(item.icon, item.title, item.description)


