mixin saleBanner(image)
  .col-lg-6
    img.position-relative.w-100(src= image, alt="banner") 
    .sale-banner.text-light.bg-primary.rounded-pill.position-absolute 
        h4.text-uppercase Giảm
        h3 25%


