mixin sidebarItem(name)
    li.sidebar__item.d-flex.align-items-center.justify-content-start.py-3.ps-3.border 
        i.bi.bi-grid-fill.mx-2.p-1.text-secondary.sidebar__icon
        p.text-secondary.ms-2.p-1.sidebar__text=name
