mixin tagsList (sidebarHeader,icon, items)
    .sidebar.d-none.d-lg-block

        ul.sibebar__list
            .sidebarHeader.d-flex.align-items-center.border.text-primary.py-3.ps-3.border.bg-secondary.text-uppercase
                i.bi.sidebar__icon.mx-2.p-1.fw-bold(class= icon)
                p= sidebarHeader
            ul.sidebar__item.d-flex.align-items-center.justify-content-start.flex-wrap.mt-3
                each item in items

                    li.tag__item.text-secondary.py-2.px-3.me-1.mb-2.border.font-italic=item
