#productPage {
  .sidebarIcon {
    font-size: 20px;
  }
  .tab__icon {
    font-size: 25px;
  }

  .sale__product img {
    max-width: 110px;
  }
  .image-thumnail {
    .img__item {
      max-width: 68px;
    }
  }
}
