

@import "reset";
@import "variables";
@import "header";
@import "home";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
=======
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "reset";
body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: red;
  }
  
  p {
    color: #333;
  }
  

