mixin pagination
    nav#pagination(aria-label="Page navigation")
        ul.pagination.justify-content-end.pagination__product
            li.page-item
                a.page-link.px-3.py-2.m-1 Trang trước
            li.page-item
                a.page-link.p-3.py-2.m-1(href="#") 1
            li.page-item
                a.page-link.p-3.py-2.m-1(href="#") 2
            li.page-item
                a.page-link.p-3.py-2.m-1(href="#") 3
            li.page-item
                a.page-link.p-3.py-2.m-1(href="#") Trang cuối
